.list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.option {
  min-width: 100px;
  height: 40px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 4px;
  font-weight: 700;
  background-color: darkgray;
  transition: transform 250ms linear;
}

.option:hover {
  transform: scale(1.2);
}

.option.good {
  background-color: #77dd77;
}

.option.neutral {
  background-color: #b57edc;
}

.option.bad {
  background-color: #ff2400;
}
